<footer class="footer">
		<div class="content_wrapper footer__padding">
		<div class="footer__nav">
			<div class="footer__item">
				<h3 class="item__h3">portfolio</h3>
				<ul class="item__list--padding">
					<li><a href="#" class="item__a hov__bottomline">Web Design</a></li>
					<li><a href="#" class="item__a hov__bottomline">Branding &#38; Identity</a></li>
					<li><a href="#" class="item__a hov__bottomline">Mobile Design</a></li>
					<li><a href="#" class="item__a hov__bottomline">Print</a></li>
					<li><a href="#" class="item__a hov__bottomline">User Interface</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<h3 class="item__h3">about</h3>
				<ul class="item__list--padding">
					<li><a href="#" class="item__a hov__bottomline">The Company</a></li>
					<li><a href="#" class="item__a hov__bottomline">History</a></li>
					<li><a href="#" class="item__a hov__bottomline">Vision</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<h3 class="item__h3">gallery</h3>
				<ul class="item__list--padding">
					<li><a href="#" class="item__a hov__bottomline">Flickr</a></li>
					<li><a href="#" class="item__a hov__bottomline">Picasa</a></li>
					<li><a href="#" class="item__a hov__bottomline">iStokePhoto</a></li>
					<li><a href="#" class="item__a hov__bottomline">PhotoDune</a></li>
				</ul>
			</div>
			<div class="footer__item">
				<h3 class="item__h3">contact</h3>
				<ul class="item__list--padding">
					<li><a href="#" class="item__a hov__bottomline">Basic Info</a></li>
					<li><a href="#" class="item__a hov__bottomline">Map</a></li>
					<li><a href="#" class="item__a hov__bottomline">Contact Form</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__social">
		 <a href="#" class="social__buttons hov__soc--outline">
			 <i class="social__img fab fa-facebook-f"></i>
</a>
			<a href="#" class="social__buttons hov__soc--outline">
				<i class="social__img fab fa-twitter"></i>
</a>
			<a href="#" class="social__buttons hov__soc--outline">
			  <i class="social__img fab fa-google-plus-g"></i>
</a>
			<a href="#" class="social__buttons hov__soc--outline"> 
			<i class="social__img fab fa-linkedin-in"></i>
</a>
		</div>
		<div class="footer__copyright">
			Copyright © 2015 Syed Miraj.All rights reserved.
		</div>
	</div>
	
	</footer>