<section class="support">
	<div class="content_wrapper">
		<div class="center support__title">
			<h2 class="btn btn--grey support__btn relative plane plane--right">
				<span>update &#38; support</span>
			</h2>
		</div>
		<div class="support__content">
			<div class="support__content-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				<br>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
				<a href="#" class="btn btn--orange btn--orange__long hov-up"><span>support center</span></a>
			</div>
			<div class="support__img">
				<div class="relative">
					<img src="images/png/support-laptop-media.png" alt="" class="support__img-media">
					<img src="images/png/macbook-updates-support.png" alt="" class="support__img-relative">
					<img src="images/png/support-macbook-screen.png" alt="" class="support__img-absolute">
				</div>
			</div>
		</div>
	</div>
</section>