 

@media (min-width: 320px) and (max-width: 480px) {
	 .content_wrapper {
  	width: 90%;
  	margin: 0 auto;

  }

}
@media (min-width: 481px) and (max-width: 767px) {
 .content_wrapper {
  	width: 90%;
  	margin: 0 auto;

  }
}

 @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { 
  .content_wrapper {
  	width: 90%;
  	margin: 0 auto;

  }
}